.donutchart-track {
    fill: transparent;
    stroke: #fff;
    stroke-width: 26;
}

.donutchart-indicator {
    fill: transparent;
    stroke: #000;
    stroke-width: 26;
    stroke-dasharray: 0 10000;
    transition: stroke-dasharray .3s ease;
}

.donutchart {
    margin: 0 auto;
    border-radius: 50%;
    display: block;
}


.donutchart-text-val {
    font-size: 16px;
}

.donutchart-text-percent {
    font-size: 14px;
}

.donutchart-text-label {
    font-size: 9px;
}


.donutchart {
    width: 52px;
    height: 52px;
}

